{% extends 'base-layout.html' %}
{% load static %}

{% block title %} Personal Blog {% endblock title %}


{% block css_files %}
    <link rel="stylesheet" href="{% static 'blog/post.css' %}">
    <link rel="stylesheet" href="{% static 'blog/index.css' %}">
{% endblock css_files %}


{% block content %}

    <section id="welcome">
        <header>
            <img src="{% static 'blog/img/lalo.jpg' %}" alt="Lalo - The author of this Blog." />
            <h2>Eduardo's Blog</h2>
        </header>
        <p>Lalo benitez hola saludo</p>
    </section>

    <section id="latest-posts">
        <h2>My Latest Thoughts</h2>
        <ul>
            {% for post in posts %}
                {% include 'blog/includes/post.html' %}
            {% endfor %}
        </ul>
    </section>

    <section id="about">
        <h2>What I do</h2>
        <p>I love programming.</p>
        <p>My goal is to become an experienced backend developer.</p>
    </section>

{% endblock content %}


